<div class="w-fit mb-4 mx-auto">
    <form id="usersSearchForm" class="flex content-center gap-1 justify-center" action="/search/"
          method="post" onsubmit="appendUrlUsersSearch()">
        <label for="userSearchInput">
            <input type="text" id="userSearchInput" name="userSearchQuery" spellcheck="false"
                   placeholder="Search Users" {% if userSearchQuery %} value="{{ userSearchQuery }}"{% endif %}
                   class="w-36 pl-2 bg-gray-50 border-4 border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500
                   focus:border-blue-500 block p-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
                   dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                   required>
        </label>
        <div class="justify-center self-center">
            <button type="submit"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300
                    font-medium rounded-lg w-full sm:w-auto px-3 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700
                    dark:focus:ring-blue-800">
                Search
            </button>
        </div>
    </form>
</div>

