<div class="centerSelf">
    <form id="usersSearchForm" class="twoFieldInputForm" action="/search/" method="post"
          onsubmit="appendUsersSearchUrl()">
        <label for="userSearchInputBox">
            <input required id="userSearchInputBox" class="shortInputBox" type="text" name="userSearchQuery"
                   placeholder="Search Users" {% if userSearchText %} value="{{ userSearchText }}"{% endif %}>
        </label>
        <button class="submitButton">Search</button>
    </form>
</div>