<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crypto{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <script src="/scripts/scripts.js"></script>
</head>
<body>
<div id="pageContainer">
    <div id="top">
        <div id="headerContainer">
            <div id="headerLinkContainer"><a class="headerLink" href="/">Crypto Market</a></div>
            <div>
                <form id="searchForm" class="twoFieldInputForm" action="/currency/" method="post"
                      onsubmit="appendCurrencyUrl()">
                    <input required id="searchInput" class="shortInputBox" type="text" name="search"
                           placeholder="Search"
                            {% if searchText %} value="{{ searchText }}"{% endif %}>
                    <button class="submitButton">Search</button>
                </form>
            </div>
            <div id="accountControl">
                {% if auth %}
                    <div id="accountDisplay">
                        Welcome, <p class="userName">{{ auth.name }}</p>
                    </div>
                    <div class="alignRight">
                        <a href="/wallet">Wallet</a>
                        <a href="/account">Account</a>
                        <a href="/logout">Logout</a>
                    </div>
                {% else %}
                    <div class="alignRight">
                        <a href="/login">Login</a>
                        <a href="/register">Register</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div id="content">
        {% if errors.database %}
            <div class="errorMessage">ERROR: {{ errors.database }}</div>
        {% endif %}
        {% if messages.delete %}
            <div class="flashMessage">{{ messages.delete }}</div>
        {% endif %}

        {% block content %}{% endblock %}
    </div>

    <div id="bottom"></div>
</div>
</body>
</html>