<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crypto{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/styles/styles.css">
    <script>
        if (localStorage.getItem('color-theme') === 'dark' ||
            (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)
        ) {
            document.documentElement.classList.add('dark');
        } else {
            document.documentElement.classList.remove('dark')
        }
    </script>
</head>
<body class="bg-white dark:bg-gray-900">

<div class="flex flex-col min-h-screen">

    {% include('partials/navigation.twig') %}

    <main class="bg-gray-50 dark:bg-gray-900 my-3">
        <div class="w-fit flex flex-col xs:justify-center xs:px-6 xs:mx-auto">

            {% if messages.userDeleted %}
                <p class="p-2 mt-3 rounded-lg bg-green-100 border-2 border-green-600 text-sm text-green-600 font-medium">
                    {{ messages.userDeleted }}
                </p>
            {% endif %}

            {% for error in errors.repository %}
                <p class="p-2 mt-3 rounded-lg bg-red-100 border-2 border-red-600 text-sm text-red-600 font-medium">
                    ERROR: {{ error }}
                </p>
            {% endfor %}

            {% if not errors.repository %}
                {% block content %}{% endblock %}
            {% endif %}

        </div>
    </main>
</div>

<script src="/node_modules/flowbite/dist/flowbite.js"></script>
<script src="/scripts/scripts.js"></script>
</body>
</html>