<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crypto{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <script src="/scripts/scripts.js"></script>
</head>
<body>
<div id="pageContainer">

    {% include('partials/navigation.twig') %}

    <div id="content">
        {% if messages.userDeleted %}
            <div class="flashMessage">{{ messages.userDeleted }}</div>
        {% endif %}
        {% for error in errors.repository %}
            <div class="errorMessage">ERROR: {{ error }}</div>
        {% endfor %}
        {% if not errors.repository %}
            {% block content %}{% endblock %}
        {% endif %}
    </div>

    <div id="bottom"></div>

</div>
</body>
</html>