{% extends "base.twig" %}

{% block title %} | Error 405{% endblock %}

{% block content %}
    <div class="errorMessage">Error 405: Method not allowed!<br>
        Allowed Methods:
        {% for method in allowedMethods %}
            {{ method }}
        {% endfor %}
    </div>
{% endblock %}