{% extends 'base.twig' %}

{% block title %} | Login{% endblock %}

{% block content %}
    <div class="w-full max-w-sm p-4 bg-white border border-gray-500 rounded-lg shadow-md sm:p-6 md:p-8 dark:bg-gray-800">
        <h2 class="text-4xl dark:text-white mb-4 text-center">Login</h2>

        <form class="max-w-sm" action="/login" method="post">
            <div class="mb-4">
                <label for="email"
                        {% if errors.email or errors.passwordMatching %}
                            class="block font-medium text-red-700 dark:text-red-500"
                        {% else %}
                            class="block font-medium text-gray-900 dark:text-white"
                        {% endif %}
                >E-mail</label>
                <input type="text" id="email" name="email" spellcheck="false"
                        {% if errors.email or errors.passwordMatching %}
                            class="bg-red-50 border-4 dark:border-2 border-red-500 text-red-900 placeholder-red-700 rounded-lg focus:ring-red-500 dark:bg-gray-700 focus:border-red-500 block w-full p-1 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500"
                        {% else %}
                            class="bg-gray-50 border-4 dark:border-2 border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        {% endif %}
                       required>
                {% if errors.email %}
                    <p class="mt-2 text-sm text-red-600 dark:text-red-500 font-medium">
                        {{ errors.email }}
                    </p>
                {% endif %}
            </div>

            <div class="mb-4">
                <label for="password"
                        {% if errors.password or errors.passwordMatching %}
                            class="block font-medium text-red-700 dark:text-red-500"
                        {% else %}
                            class="block font-medium text-gray-900 dark:text-white"
                        {% endif %}
                >Password</label>
                <input type="password" id="password" name="password" spellcheck="false"
                        {% if errors.password or errors.passwordMatching %}
                            class="bg-red-50 border-4 dark:border-2 border-red-500 text-red-900 placeholder-red-700 rounded-lg focus:ring-red-500 dark:bg-gray-700 focus:border-red-500 block w-full p-1 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500"
                        {% else %}
                            class="bg-gray-50 border-4 dark:border-2 border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        {% endif %}
                       required>
                {% if errors.password %}
                    <p class="mt-2 text-sm text-red-600 dark:text-red-500 font-medium">
                        {{ errors.password }}
                    </p>
                {% endif %}
            </div>

            {% if errors.auth %}
                <p class="p-2 mb-5 rounded-lg bg-red-100 border-2 border-red-600 text-sm text-red-600 font-medium">
                    ERROR: {{ errors.auth }}
                </p>
            {% endif %}
            {% if errors.passwordMatching %}
                <p class="mb-5 text-sm text-red-600 dark:text-red-500 font-medium">
                    {{ errors.passwordMatching }}
                </p>
            {% endif %}
            <div class="text-center">
                <button type="submit"
                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Login
                </button>
            </div>
        </form>

        <div class="text-sm font-medium text-gray-500 dark:text-gray-300 mt-4">
            Not registered? <a href="/register" class="text-blue-700 hover:underline dark:text-blue-500">Create
                account</a>
        </div>
    </div>

{% endblock %}