{% extends 'base.twig' %}

{% block title %} | register{% endblock %}

{% block content %}
    <div class="userInputFormContainer">
        <div class="pageTitle">Register account</div>
        <form class="userInputForm" action="/register" method="post">
            <div>
                <label class="userInputBoxLabel">Username:<br>
                    <input required class="userInputBox" name="name">
                </label>
            </div>
            <div class="addMarginTop">
                <label class="userInputBoxLabel">E-mail:<br>
                    <input required class="userInputBox" name="email">
                </label>
            </div>
            <div class="addMarginTop">
                <label class="userInputBoxLabel">Password:<br>
                    <input required class="userInputBox" name="password" type="password">
                </label>
            </div>
            <div class="addMarginTop">
                <label class="userInputBoxLabel">Repeat password:<br>
                    <input required class="userInputBox" name="passwordRepeated" type="password">
                </label>
            </div>
            <div class="addMarginTop alignCenter">
                <button class="submitButton">Register</button>
            </div>
        </form>
        <br>

        {% for error in errors %}
            <div class="errorMessage">
                ERROR: {{ error }}
            </div>
        {% endfor %}

    </div>
{% endblock %}